extends ../layout

block content
  h1= title

  h4 Add Contact
  form(role='form', method="post")
    .row
      .form-group.col-md-6
        input.form-control(type='text', name="firstName", placeholder='First Name')
      .form-group.col-md-6
        input.form-control(type='text', name="lastName", placeholder='Last Name')
      .form-group.col-md-6
        input.form-control(type='text', name="nickname", placeholder='Nickname')
      .form-group.col-md-6
        input.form-control(type='text', name="address", placeholder='Address')
    .row
      .form-group.col-md-6
        input.form-control(type='text', name="email", placeholder='Email')
      .form-group.col-md-6
        input.form-control(type='text', name="homePhone", placeholder='Home Phone')
      .form-group.col-md-6
        input.form-control(type='text', name="cellPhone", placeholder='Cell Phone')

    button.btn.btn-primary(type='submit', style="align=center;") Add

  br
  div#contactsTable
    table.table
      thead
        tr
          th First Name
          th Last Name
          th Nickname
          th Address
          th Email
          th Home Phone
          th Cell Phone
      tbody
        each contact in contactsList
          tr
            td #{contact.firstName}
            td #{contact.lastName}
            td #{contact.nickname}
            td #{contact.address}
            td #{contact.email}
            td #{contact.homePhone}
            td #{contact.cellPhone}
            td
              button.btn.btn-danger(type="button") Delete
  a(href="/logout") Logout
