extends ../layout

block content
  div
    h1 Lookin' good, #{user.firstName}!
    br
    p
      b First Name:
      | &nbsp; #{user.firstName}
    p
      b Last Name:
      | &nbsp; #{user.lastName}
    p
      b Username:
      | &nbsp; #{user.username}
    p
      b Email:
      | &nbsp; #{user.email}
